{% extends 'layouts/simple.njk' %}

{% block postContent %}

<div class="service-area bg2 sp">
  <div class="container">
    <div class="row">
    {% for item in collections.flexbox %}
      <div class="col-lg-4 col-md-6 single-service">
          <div class="inner">
              <div class="title">
                  <div class="icon">
                      <i class="fa fa-{{ item.data.faIcon }}"></i>
                  </div>
                  <h4>{{ item.data.title }}</h4>
              </div>
              <div class="content">
                  <p>{{ item.data.description }}</p>
                  <a href={{item.url}}>Read more</a>
              </div>
          </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>

{% endblock postContent %}
