{% extends 'layouts/simple.njk' %}

{% block postContent %}
    <ul class="resources">
      {% for resource in _resourceList %}
        <li class="resource">
          <div class="resource-data">
            <span>
              <i class="fa fa-{{ resource.faIcon }}"></i>
                {{ resource.name }}
            </span>
            <p>{{ resource.content }}</p>

            <span><a href="{{ resource.site }}">{{ resource.site }}</a></span>
          </div>
        </li>
      {% endfor %}
    </ul>
{% endblock postContent %}
