{% extends 'layouts/simple.njk' %}

{% block postContent %}

  <div class="row ml-4 mr-4 sp">
    <div class="testimonial-slider bordered">
      {% for resource in collections.resources %}
        <div class="single-slide">
          <div class="inner">
            <p>{{ resource.data.content }}</p>
            <div class="client-info">
              <div class="client-img">
                <img src="{{ resource.data.icon }}" alt="resource">
              </div>
              <div class="client-data">
                <h4>{{ resource.data.name }}</h4>
                <span>{{ resource.data.site }}</span>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock postContent %}
