
{% extends 'base.njk' %}
{% block content %}
  <div class="container sp">
    <div class="row justify-content-md-center">
      <div class="col-md-10">
        <div class="about-content">
          {{ content | safe }}
        </div>
      </div>
      <div class="col-md-10">
        <div class="about-img">
          <img src="assets/img/about.png" alt="">
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
