code.hljs  {
  padding: 1.5rem;
  border-radius: 5px;
}
.about-content .grid-post  h3 {
  margin-bottom: 15px;
}

.grid-post hr {
  background-color: purple;
  margin-bottom: 20px;
}
.grid {
  margin: 3rem 2rem 4rem 2rem;
  display: grid;
  grid-gap: 20px;
}
.grid-container {
  grid-template-columns: 100px auto 100px;
}

.item {
  text-align: center;
  border: 2px solid grey;
}

.grid-container-2 {
  grid-template-columns: 400px 200px;
  grid-auto-flow: column;
}
@media only screen and (max-width: 980px){
  .grid-container-2 {
    grid-template-columns: 100px 50px;
  }
}

.grid-container-3 {
  grid-template-columns: 400px 1fr 2fr;
  grid-template-rows: 1fr 2fr;
}

@media only screen and (max-width: 980px){
  .grid-container-3 {
    grid-template-columns: 200px 1fr 2fr;
  }
}

.grid-container-4 {
  grid-template-columns: repeat(3, 1fr 2fr);
}

.grid-container-5 {
  grid-template-columns: repeat(4, 1fr);
}

.item-3 {
  border: 3px solid purple;
  grid-row: span 2;
  grid-column: span 2;
}

.item-2 {
  grid-column: 2 / span 2;
}

.item-4 {
  grid-column-start: 3;
  grid-column-end: -1;
}

.grid-container-6 {
  grid-template-columns: repeat(auto-fill, 150px);
}

.grid-container-7 {
  grid-template-columns: repeat(auto-fit, 150px);
}

.item-float {
  grid-column: auto / -1;
}

.grid-container-8 {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-container-9 {
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: repeat(3, 50px);
    grid-template-areas:
      "sidenav   main   main"
      "sidenav   main   main"
      "footer    footer footer"
}

.sidenav {
  grid-area: sidenav;
}

.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

.grid-container-10 {
  grid-template-columns: [content-start content-1] 75px [content-2] 1fr [content-3] 200px [content-end];
  grid-template-rows: [content-top] repeat(3, auto) [content-end];
}

.item-named {
  border: 3px solid purple;
  grid-column: content-2;
  grid-row: content-top / content-end;
}

.grid-container-11 {
  background: grey;
  border-radius: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 75px);
  justify-items: center;
}

.itm {
  background: white;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  width: 25px;
  height: 25px;
}

.grid-container-12 {
  background: grey;
  border-radius: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 75px);
  justify-items: end;
  align-items: end;
}

.grid-container-13 {
  background: grey;
  border-radius: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 75px);
  place-items: center center;
}

.grid-container-14 {
  background: grey;
  border-radius: 5px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 75px);
  justify-content: space-around;
}

.grid-container-14 > .itm {
  width: auto;
  place-items: stretch stretch;
}

.itm-2 {
  width: 50px;
  justify-self: center;
  align-self: center;
  border: solid 3px purple;
}

.item-ordered {
  border: solid 3px purple;
  order: -1;
}
