.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-content .flex-post  h3 {
  margin-bottom: 15px;
}

.flex-item {
  border: 1px solid grey;
  border-radius: 3px;
  color: black;
  text-align: center;
}

.flex-item-md {
  width: 200px;
  margin: 10px;
}

.flex-item-sm {
  width: 75px;
  margin: 10px;
}

.flex-container-1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.flex-container-2 {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.box {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.box-3 {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.box-2 {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}

.flex-container-3 {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-container-4 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-container-5 {
  height: 250px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.flex-container-6 {
  height: 100px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.align-item {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.flex-item-1 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.item-1 {
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.item-2 {
  -ms-flex: 1 1 200px;
  flex: 1 1 200px;
}
